<h2>Alle Feeds</h2>

<br>
<%= form_tag feeds_path, class: "form-inline", method: :get do %>

<div class="input-group mb-3">
  <%= text_field_tag :search, params[:search], placeholder: "Feeds durchsuchen..", class: "form-control" %>
  <div class="input-group-append">
  <%= button_tag :submit, class: "btn btn-outline-secondary" do %>
    <i class="fas fa-search"></i>
  <% end %>
  </div>
</div>
<% end %>

<br><br>
<div class="feed_flex_container">
<%= render @feeds %>
</div>
