<h1>Anfrage zur Gruppengründung</h1>

Hallo <%= @user.name %>,<br><br>
du hast soeben die Gruppengründung für <b><%= @group.name %></b> mit <%= @group.members.count %> Mitgliedern angefragt.
<br>
Ein Administrator wurde benachrichtigt und wird deine Anfrage bearbeiten.
<br><br>Du erhältst eine E-Mail nach erfolgter Bestätigung.<br><br>
