<h1>Willkommen <%= @user.name %></h1>

Danke für die Anmeldung bei Threema AJG. Ein Administrator wurde über deine Anmeldung informiert und wird Die demnächst eine Benutzerrolle zuweisen.
<br><br>Sobald dein Account bestätigt wurde, erhälst du eine E-Mail.

<br>
