<!-- Button trigger modal -->
<button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#exampleModal">
  Bitte beachtet die Systematik zur Benennung von Gruppen
</button>

<!-- Modal -->
<div class="modal  fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bennenung von Gruppen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Klassengruppen:</b>
        <br>
        2028a - Kö/Lh
        <br><br>

        <b>Fachgruppen Sek I:</b>
        <br>
        2027b Englisch - Lh
        <br><br>

        <b>Kursgruppen Sek II:</b>
        <br>
        2021 Englisch - Lh
        <br><br>

        <b>Studienfahrt u.a.:</b>
        <br>
        21 Italien - LH (Jahr der Veranstaltung in zwei Ziffern)
        <br><br>

        <b>weitere Gruppen:</b>
        <br>
        beliebig (z.B. Bigband, Oberstufenchor, etc.)
        <br><br>

        <hr>
        <h4>Abiturjahrgänge</h4>

        Klasse 5 - 2029
        <br>
        Klasse 6 - 2028
        <br>
        Klasse 7 - 2027
        <br>
        Klasse 8 - 2025
        <br>
        Klasse 9 - 2024
        <br>
        EF - 2023
        <br>
        Q1 - 2022
        <br>
        Q2 - 2021


      </div>
    </div>
  </div>
</div>
