<h3>Gruppenanfragen </h3>
<br>
<% if @groups.any? %>
<div class="group_flex_container">
  <%= render @groups %>
</div>

<% else %>
  Derzeit gibt es keine Anfragen zur Gründung einer Gruppe.
<% end %>
