<h1>Neue Gruppe erstellen</h1>
<% if current_user.role == "Benutzer" %>
Die Gruppe wird zunächst lokal erstellt und erst nach Freigabe durch einen Administrator veröffentlicht. 
<% end %>
<%= render 'form', team: @team %>
