<div class="action_buttons">
  <%= link_to "Benutzer Einladen", new_user_invitation_path, class:"btn btn-primary btn-sm" %>
</div>

<h1>Benutzerverwaltung</h1>
<%= render "users/user_roles" %>

<br><br><br>
<h3>Dein Kollegium:</h3>
<br>
<table class="table table-hover ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Threema ID</th>
      <th scope="col">Rolle</th>
      <th scope="col" style="text-align: right"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>

  </tbody>
</table>
