<h1>Willkommen</h1>
  <p>
    Diese Seite dient der Verwaltung von Gruppen, Feeds und Verteilerlisten in Threema Work am AJG. Feeds und Verteilerlisten sind nur für die Schulleitung sichtbar. <br><br>
    Andere Einstellungen zu Threema Work nehmen Sie bitte <b><a href="https://work.threema.ch/de">direkt bei Threema WORK</a></b> vor.
</p>
