<h1>Neuer Benutzer </h1>

<%= @user.name %> hat sich soeben bei Threema AJG angemeldet. Bestätige seinen Account, damit er loslegen kann.

<br><br>Den Account kannst du in der <%= link_to "Benutzerverwaltung", users_url %> bestätigen.

<br>
