@import 'bootstrap-email';


@media (prefers-color-scheme:  dark) {
  html, body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    font-weight: 300;

    p {color: 333;}
  }
};

body {
  margin: auto;
}

$primary: #5AADDD;;

h1 {
  border-left: 10px $primary solid;
  font-size: 1.5em;
  font-weight: 200;
  padding-left: 0.7em;
  margin-bottom: 1em;
}


// .shadow {
//     box-shadow: 1px 5px 15px #ccc;
// }

.container {
  padding: 2em;
  max-width: 800px;
  width: 80%;
  background-color: rgba(250,250,250,0.2);
  margin: auto;
  margin-top: 1em;
  border-radius: 1em;
  box-shadow: 1px 5px 15px #ccc;
}

a {
  color: $primary;
}

.btn {
  background-color: $primary;
  color: white;
  padding: 5px;

  padding-left: 1em;
  padding-right: 1em;

}

.center {
  margin: auto;
  text-align: center;
}



.logo {
  float: right;
}
