.cookies-eu {
  background:rgba(255,255,255,0.7);
  border-top: none;
};
// .cookies-eu-content-holder {
//   //background-color: rgba(255,255,255,0.3);
//   color: $primary;
// }
// .cookies-eu-button-holder {
// //  color: $primary;
//
//   background-color: $primary;
// }
// .cookies-eu-ok {
//
//   color: red;
// }
// .cookies-eu-link {
//   color: $primary;
//
// };

.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
   background-color: $primary;

}
