// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the DistributionLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feed_flex_container {
  display: flex;
  flex-direction: column;

  .feed_item {
    margin-bottom: 1em;
    padding: 1em;
    height: 70px;
    border-radius: 1em;
    position: relative;
    &:hover {
      background-color: $primary;
      color: white;
      a {
        color: white;
      }
      .feed-image {
        color: white;
      }
    }

    .feed-image {
      font-size: 2em;
      color: $primary;
      position: absolute;
      left: 5px;
      top: 5px;
    }
    .feed-name {
      font-size:1.2em;
      position: absolute;
      left: 3em;
    }
    .feed-members {
      position: absolute;
      font-size: 0.8em;
      right: 1em;
    }

  }
}

.feed-message-container {
  display: flex;
  flex-direction: column;

  .feed-message {
    border-radius: 10px;
    border: 1px solid $primary;
    padding: 1em;
    margin-bottom: 2em;
  }
  .feed-date {
    color: $primary;
    font-weight: 600;

  }
}
