.group_flex_container {
  display: flex;
  flex-wrap:wrap;
  //justify-content: center;
}

.group_item {
  height: 80px;
  //flex-basis: auto;
  flex-grow: 1;
  max-width: 400px;
  min-width: 330px;
  margin: 1em;
  border-radius: 10px;
  position: relative;
  padding: 1em;
  &:hover {
    background-color: $primary;
    color: white;
    i {
      color:white;
    }
    a {
      color: white;
    }
  }


  .group-image {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.8em;
    color: $primary;
    border-radius: 5px;
  }

  .group-name {
    position: absolute;
    left: 60px;
    font-size: 1.2em;
  }

  .group-members {
    font-size: 0.8em;
    position: absolute;
    color: grey;
    bottom: 1em;
    left: 1em;
  }

  .group-state {
    font-size: 0.8em;
    color: grey;
    position: absolute;
    bottom: 1em;
    right: 5px;
  }
}

.tableBox {
    width: 100%;
    overflow: auto;
    max-height: 400px;
    margin-bottom: 2em;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}


.group-image-big {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 1.8em;
    color: $primary;
    border-radius: 5px;

  }

.tableBox::-webkit-scrollbar{
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.tableBox::-webkit-scrollbar-thumb{
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}
