<p>Wollkommen <%= @email %>!</p>

<p>Du kannst deinen Account durch klicken auf den untenstehenden Link bestätigen:</p>

<p><%= link_to 'Account bestätigen', confirmation_url(@resource, confirmation_token: @token) %></p>
