<h1>Passwort zurücksetzen</h1>
<p>Hallo <%= @resource.first_name %>,</p>

<p>Ein Link zum zurücksetzen deines Passworts wurde angefragt.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls du die Änderung nicht angefragt hast, bitte ignoriere diese Mail.</p>
<p>Dein Passwort wird nicht geändert solange du den Link oben nicht anklickst.</p>
