<div class="list_item shadow">
<div class="list-image"><i class="fas fa-bullhorn"></i></div>
<div class="list-name">
<%= link_to distribution_list.name, distribution_list %>
</div>
<div class="list-members">
  <%= distribution_list.members.count %> Empfänger
</div>
</div>
