<h1><%= @member.name %></h1>
<%= link_to "zurück", members_path %><br>
Mitglied in <%= @member.groups.count %> Gruppen.
<br><br>
<div class="group_flex_container">

<%= render @member.groups %>
</div>
